    {% load static %}
    <!-- criando uma seção para ser a pagina de intro do site -->
    <section id="pessoal" class="intro img-principal section">
        <div class="main-content intro-content">
            <div class="intro-text-content">

                <h2>Quem sou?</h2>
                <p>Olá prazer, Me chamo Raul Teles! Tenho 25 anos e sou da cidade de Recife-PE.</p><br>
                <p>Eu sou uma pessoa que sempre gostei da área de tecnologia, desde criança e sempre sonhei atuar na área, mesmo não sabendo onde especificamente. Hoje após algumas experiências e também logo após iniciar o meu Curso de Bacharel em Ciência da Computação, me achei onde eu gostaria de trabalhar efetivamente, e  é esta área, a de Desenvolvimento.</p>
                <p>Durante esse meu percurso, venho estudado muito, venho me dedicando muito, criando vários projetos experimentando tecnologias e ferramentas novas afim de me aperfeiçoar e adquirir cada vez mais conhecimentos.
                </p><br>
                <p>Hoje estou no 8º Período do curso de Ciência da Computação, quase concluindo e estou buscando de fato entrar no mercado e crescer cada vez mais profissionalmente.</p>
            </div>
            <div class="intro-foto"><img src="{% static "global/img/foto.png" %}" alt="imagem css e html"></div>
        </div>
    </section>
    <section class="main-bg section">
        <div id="curriculo" class="main-content pessoal-content">
            <div>
                <h2>Currículo</h2>
                <h5>Experiências Profissionais:</h5>
            </div>
        </div>
        <div class="experiencias-profissionais">
            <div>
                <h6>
                    ♦ Cargo: Analista de suporte Júnior
                </h6>
                <p>Profissional na Área de TIC, atuando com como suporte N1e N2, onde resolvo problemas diários com diversos clientes de diversas áreas distintas, atuando na implementação de servidores Linux e Windows como: (Windows Server, Proxmox, Zabbix, PfSense), Roteadores de Bordas (Mikrotik), Firewall, Controle de conteúdo (Proxy), entre outros.</p>
            </div>
            <div>
                <h6>
                    ♦ Cargo: Militar Técnico de Informática
                </h6>
                <p>Profissional na Área de TIC, exercia a função de Suporte de TI N1, N2 e N3, onde resolvia problemas diários em todo batalhão na parte de Desenvolvimento na pagina web da Intranet (Joolma CMS), Manutenção e reparos de redes, Implantação e manutenção de servidores e serviços em seu ambiente Gnu/Linux e Windows, Administração de Servidores internos, entre alguns deles: Servidor de Arquivos SAMBA, DHCP, Correio eletronico e Intranet, Manutenção e reparos de computadores, notebooks, impressoras, prestando suporte a um parque computacional com cerca de 200 dispositivos.</p>
            </div>
        </div>
        <div class="experiencias-pessoais">
            <h5>Alguns dos meus Conhecimentos</h5>
        </div>
        <div class="curriculo-pessoal">
            <div>
                <h6>
                    ♦ Cursos:
                </h6>
                <p>
                    → Curso Desenvolvimento Back-end PYTHON, (Django, PYQT5, POO, SQLITE)
                </p>
                <p>
                    → Curso Desenvolvimento Back-end C#, (.NET, SQL Server, MVC)
                </p>
                <p>
                    → Curso Desenvolvimento Front-end JavaScript, (HTML,CSS, Nodejs, Angular, TypeScritpe)
                </p>
                <p>
                    → Base de Dados (MySQK, SQLITE)
                </p>
                <p>→ Estágio de Joolma portal padrão E-GOV, (Configuração, instalaõa Gerenciamento do site/usuários, backup, back-and e Front-end)</p>
                <p>
                    → Inglês Básico
                </p>
            </div>
            <div>
                <h6>
                    ♦ Outros Conhecimentos:
                </h6>
                <p>→ Estágio de Linux Ubuntu, 60hs/Aulas</p>
                <p>→ Estágio de Redes e Servidores Linux, 80hsAulas</p>
                <p>→ Administração de sistemas linux – Redes e segurança, 40hs/Aulas</p>
                <p>→ Estágio de Segurança em Redes e Sistemas,60hs/Aulas</p>
                <p>→ Introdução à segurança cibernética, 15h/sAulas</p>
                <p>→ Virtualização de Servidores com XCP, 30hs/Aulas</p>
                <p>→ Networking Essentials,20hs/Aulas</p>
                <p>→ Designer Gráfico, 64hs/Aulas</p>
                <p>→ Web Designer, 102hs/Aulas</p>
                <p>→ Montagem e Manutenção de Computadores, 60h/Aula</p>
                <p>→ Auto Cad I & II, 32hs/Aulas</p>
            </div>
        </div>
        <div class="arquivo-curriculo">
            <div>
                <a href="https://drive.google.com/file/d/1An-J8m_CZEI0eVzFF-u_qIjIt0a2clb5/view" target="_blank"><h6><i>Currículo Completo!</i></h6></a>
            </div>
        </div>
    </section>
    <section class="projetos img-principal section">
        <div id="projetos" class="projetos-content main-content">
            <h2>Alguns projetos...</h2>
            <p><i>Esta seção eu dediquei para o compatilhamento de alguns projetos em que eu já fiz, não são todos, já fiz muitos outros, em linguagens diferentes, mas estarei destacando aqui os 3 em que eu mais gostei.</i></p>
            <div class="grid">
                <article>
                    <h3>Meu Site</h3>
                    <p>O meu Meu site, este mesmo em que você está acessando está sendo o meu principal projeto no momento, onde eu definir ele para me apresentar e falar um pouco de mim, está sendo sempre atualizado constatimente, criei um dominio e hospedei ele deixando-o como o meu site pessoal e profissional. O site foi desenvolvido inicialmente com a linguagem de marcação HTML e de Estilo CSS e após estudos com o freamework DJANGO adicionei ferramentas e funcionalidades para tonar o site ainda mais robusto e com mais funcionalidades. é possivel acessar o repositório e todo o código através deste <a href="https://github.com/RaulTeles/BlogPessoal-DJANGO">LINK</a></p>
                </article>
                <article>
                    <h3>Meu Blog Pessoal</h3>
                    <p>O meu blog Pessoal, foi o meu segundo projeto criado com o Python utilizando o framework Django, e foi o que eu mais gostei de desenvolver, pois aprendi ferramentas com o Django e criei algo pessoal onde eu poderia adicionar trabalho e informações a partir dele. Após a conclusão eu fiz um deploy dele em um servidor do google cloud, que é possivel ser acessado através deste IP <a href="http://35.199.92.140" target="_blank">http://35.199.92.140</a>, infelizmente o serviço é pago e eu estou usando um período gratuito, ou seja, logo mais sairá do ar, porém irei a trás de algum serviço de hospedagem para deixa-lo sempre funcionando. Todo o seu código pode ser acessado através deste <a href="https://github.com/RaulTeles/BlogPessoal-DJANGO">LINK</a></p>
                </article>
                <article>
                    <h3>Agenda WEB</h3>
                    <p>A Agenda WEB foi o meu primeiro projeto no Python utilizando o freamework do Django, antecedendo o projeto do Blog Pessoal, foi o projeto em que eu tive a primeira experiência utilizando o Django e vi como ele é poderoso. Este projeto de Agenda tinha um objetivo de cadastrar usuários com algmas informações que no caso eram, Nome, numero telefônico, fotos, entre outras informações. Foi muito bom poder desenvolver ele. Hoje este projeto está no meu repositório do Github e todo o seu código pode ser acessado através deste <a href="https://github.com/RaulTeles/AgendaWEB-DJANGO" target="_blank">LINK</a>.</p>
                </article>
                <article>
                    <h3 class="red-imgs">Redimensionador de Imagens</h3>
                    <p>Este é outro projeto também desenvolvido com o Python, porém utilizando bibliotecas para utilizar uma interface gráfica. Eu fiz este Programa para uma demanda pessoal, em que eu administrava uma pagina de Intranet da minha empresa e era também que publicava Banners, artigos entre outras funções, e para algumas imagens era necessário ter um tamanho especifico e eu necessitava de um programa para isso, então eu desenvolvi este programa, eu utilizei a biblioteca PYQT5. Todo o seu código pode ser acessado através deste <a href="https://github.com/RaulTeles/RedimensionadorImagens-PYQT5" target="_blank">LINK</a></p>
                </article>
                <article>
                    <h3>APP Mobile - AndroidStudio</h3>
                    <p>O Projeto do aplicativo mobile, foi desenvolvido decorrente a necessidade de conclusão da matéria da faculdad de Desenvolvimento WEB. Neste aplicativo, foi desenvolvido um sistema de serviços de obras, onde o cliente tinha a página de login para cadastro e através do login poderia visualiar especialidades e especialistas da área de Construção Cívil, onde poderia pegar as informações e entrar em contato com o profissional para adquirir o serviço. O aplicativo nunca chegou a ser publciado, foi apenas para conhecimentos academicos e todo o seu código pode ser acessado através deste <a href="https://github.com/RaulTeles/BlogPessoal-DJANGO">LINK</a></p>
                </article>
                <article>
                    <h3>Sistema de Controle Interno - Dotnet </h3>
                    <p>O sistema de Controle Interno, foi um projeto desenvolvido através do curso ministrado do SENAI, onde foi lecionado aulas de C-Sharp, utilizando o framework Dotnet, criando API's e fazendo consumo dessas APIs. Todo o seu código pode ser acessado através deste <a href="https://github.com/RaulTeles/BlogPessoal-DJANGO">LINK</a></p>
                </article>
                <article>
                    <h3>Loja Gamer - JavaScript</h3>
                    <p>O projeto de Loja Gamer, foi um projeto desenvolvido em com HTML,CCS e JavaScript, criado através do curso também do SENAI como o projeto anterior, apresentando  conceitos e diferenças de JavaScript com TypeScritpe, todo o seu código pode ser acessado através deste <a href="https://github.com/RaulTeles/BlogPessoal-DJANGO">LINK</a></p>
                </article>
                <article>
                    <h3>Loja Gamer - Freamework Angular</h3>
                    <p>A loja Gamer - Framework Angular, foi uma evolução do projeto feito anteriormente apenas com JavaScript, aqui neste projeto passei a utilizar o Freamework Angular, utilizando conceitos do padão MVC e consumindo API's. Todo o seu código pode ser acessado através deste <a href="https://github.com/RaulTeles/BlogPessoal-DJANGO">LINK</a></p>
                </article>
                <article>
                    <h3>Em andamento...</h3>
                    <p>Projeto em desenvolvimento...</p>
                </article>
            </div>
        </div>
    </section>
    <section class="galeria main-bg ">
        <div id="galeria" class="galeria-content main-content">
            <h2>Galeria</h2>
            <p><i>Seção criada para exibição de alguams imagens dos projetos já criados!</i></p>
            <div class="grid">
                <div class="galeria-img">
                    <img src="{% static "global/img/img-login-agenda.jpg" %}" alt="imagem randomica">
                </div>
                <div class="galeria-img">
                    <img src="{% static "global/img/app-red-img.jpg" %}" alt="Imagem Randomica 2">
                </div>
                <div class="galeria-img">
                    <img src="{% static "global/img/img-blog.jpg" %}" alt="Imagem Randomica 2">
                </div>
                <div class="galeria-img">
                    <img src="{% static "global/img/img-proj-js.jpg" %}" alt="Imagem Randomica 2">
                </div>
                <div class="galeria-img">
                    <img src="{% static "global/img/lh-pet.jpg" %}" alt="Imagem Randomica 2">
                </div>
                <div class="galeria-img">
                    <img src="http://source.unsplash.com/random/360x360?r=63" alt="Imagem Randomica 3">
                </div>
            </div>
        </div>
    </section>
    <section class="main-bg section">
        <div id="redes-sociais" class="main-content redes-content">
            <h2>Minhas Redes Sociais</h2>
            <div class="intro-img"><img src="{% static "global/img/thumb-redes-sociais-novas.jpg" %}"></div>
            <!-- Trasnformar a tabela em respossiva -->
            <div class="resposive-table">
                <table class="tabela">
                    <caption>Links</caption>
                    <thead>
                        <tr>
                            <th><img src="{% static "global/img/linkedin.png" %}" alt=""> - Linkedin </th>
                            <th><img src="{% static "global/img/instagram.png" %}" alt=""> - Instagram </th>
                            <th><img src="{% static "global/img/twitter.png" %}" alt=""> - Twitter </th>
                            <th><img src="{% static "global/img/github.png" %}" alt=""> - Github </th>
                            <th><img src="{% static "global/img/facebook.png" %}" alt=""> - Facebook </th>                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://www.linkedin.com/in/raul-teles/" target="_blank">ACESSE</a></td>
                            <td><a href="https://www.instagram.com/teles_raul/" target="_blank">ACESSE</a></td>
                            <td><a href="https://twitter.com/Teles_Raull" target="_blank">ACESSE</a></td>
                            <td><a href="https://github.com/RaulTeles" target="_blank">ACESSE</a></td>
                            <td><a href="https://www.facebook.com/raul.teles.7/" target="_blank">ACESSE</a></td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
    <section id="contato" class="img-principal section">
        <div class="main-content contato-content">
            <div class="intro-img"><img src="{% static "global/img/contact-us.svg" %}" alt="imagem de contato"></div>
                <div class="contato-form">
                    <fieldset class="form-grid">
                        <legend class="legenda">
                            Me envie uma mesagem
                        </legend>
                        <div class="form-group">
                            <label for="primeiro-nome">Primeiro Nome: </label>
                            <input type="text" name="primeiro-nome" id="primeiro-nome" placeholder="Digite o seu Nome">
                        </div>
                        <div class="form-group">
                            <label for="ultimo-nome">Ultimo Nome: </label>
                            <input type="text" name="ultimo-nome" id="ultimo-nome" placeholder="Digite o seu Sobrenome">
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input type="email" name="email" id="email" placeholder="Digite o seu email">
                        </div>
                        <div class="form-group full-width">
                            <label for="menssagem">Menssagem: </label>
                            <textarea name="menssagem" id="menssagem" cols="30" rows="10" placeholder="Escreva sua Mensagem Aqui"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit">Enviar a Menssagem</button>
                        </div>
                </div>
            </form>
        </div>
    </section>